/.env
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml



.env.*


.gradle/
/build/


/*.class


/.idea/
/*.iml


/uploads/


/*.log


/.DS_Store
/Thumbs.db